<style>
  .btn {
    border-radius: 40px;
    width: 70px;
    height: 26px;
  }
  .slider-holder {
    padding-top: 0.4em;
    padding-bottom: 0.4em;
  }
  #custom-amount {
    width: 10em;
  }
  .ui-slider-horizontal .ui-slider-handle {
    background-image: url("/assets/ic_code_black_18dp_2x.png");
    background-size:     cover;
  }
   
 
</style>
  <script>
    function redistributeMoney() {
    var person1 = $( "#person1" ).slider( "value" ),
      person2 = $( "#person2" ).slider( "value" ),
      person3 = $( "#person3" ).slider( "value" ),
      comission = $( "#comission" ).slider( "value" )
    }
    $(function() {
    $( "#person1, #person2, #person3, #comission" ).slider({
      orientation: "horizontal",
      range: "min",
      max: 300,
      value: 127,
      slide: redistributeMoney,
      change: redistributeMoney
    });
    $( "#person1" ).slider( "value", 100 );
    $( "#person2" ).slider( "value", 100 );
    $( "#person3" ).slider( "value", 100 );
    $( "#comission").slider( "value", 100 );
  });
  </script>
<div class = "container">
  <div class = "row">
    <div class = "col-md-4">
      <h7>
        Purchase the guided tour
      </h7>
    </div>    
  </div>
  <div class = "row">
    <div class="col-md-2"><p><strong>Pay what you want!</strong></p></div>
    <div class="col-md-1">
      <input type="button" class="btn btn-primary btn-sm" value="$8">
    </div>
    <div class="col-md-1">
      <input type="button" class="btn btn-primary btn-sm" value="$12">
    </div>
    <div class="col-md-1">
      <input type="button" class="btn btn-primary btn-sm btn-active" value="$24">
    </div>
    <div class="col-md-3">
      <input id = "custom-amount" type="text" class="btn btn-primary btn-sm" placeholder="Custom amount">
    </div>
  </div>
  <div class = "row">
    <div class = "col-md-1">
      <p>Person 1</p>
    </div>
    <div class="col-md-4 slider-holder ">
      <div id= "person1" ></div>
    </div>    
    <div class = "col-md-2">
      <input type = "text" class="btn btn-success">
    </div>    
  </div>
  <div class = "row">
    <div class = "col-md-1">
      <p>Person 2</p>
    </div>
    <div class="col-md-4 slider-holder ">
      <div id= "person2" ></div>
    </div>    
    <div class = "col-md-2">
      <input type = "text" class="btn btn-success">
    </div>    
  </div>
  <div class = "row">
    <div class = "col-md-1">
      <p>Person 3</p>
    </div>
    <div class="col-md-4 slider-holder ">
      <div id= "person3" ></div>
    </div>    
    <div class = "col-md-2">
      <input type = "text" class="btn btn-success">
    </div>    
  </div>
  <div class = "row">
    <div class = "col-md-1">
      <p>Comission</p>
    </div>
    <div class="col-md-4 slider-holder ">
      <div id= "comission" ></div>
    </div>    
    <div class = "col-md-2">
      <input type = "text" class="btn btn-success">
    </div>    
  </div>
</div>

 
